* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.section-0 {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fffff99f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 3rem; }

nav {
  display: flex;
  margin-right: -15px;
  list-style: none; }

header nav li {
  margin: 0 15px; }

.nav--h1:hover {
  color: #fff;
  transition: 1000ms; }

.nav--h1, .nav--item, nav li::after {
  transition: 1000ms; }

header nav li:hover {
  color: #fff;
  transition: 1000ms; }

.section-1 {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  text-align: center;
  padding-top: 0.5rem; }

.grid {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  background-color: #fffff99f; }
  .grid--box-1 {
    border: 4px solid #fffff99f;
    background-color: #fffff99f; }
  .grid--box-2 {
    background-color: #fffff99f; }
  .grid--box3 {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: -1;
    background-color: #80a3db; }

.section-2 {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  text-align: center;
  padding-top: 0.5rem; }

.h-1 {
  background-color: #28b485;
  text-align: center;
  padding: 10rem 0 5rem 0; }

.remove {
  background-color: #FA8072; }

.notes {
  background-color: #28b485;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 4rem; }

.note {
  background-color: #28b485;
  padding: 8px;
  border-radius: 8px; }

.note, .preview {
  border-radius: 8px;
  padding: 10px; }

.preview {
  background: #A52A2A;
  border: 8px solid #DCDCDC;
  box-sizing: border-box; }

.hide {
  display: none; }

form {
  text-align: center;
  background-color: #28b485; }

input {
  width: 50%;
  background-color: #28b485;
  border: 2px solid #fffff99f;
  border-radius: 20px;
  margin-bottom: 4rem; }

input, button {
  padding: 10px;
  border-radius: 20px; }

button:hover {
  color: #28b485;
  background-color: #fffff99f;
  cursor: pointer; }

input:hover {
  background-color: #fffff99f;
  cursor: pointer;
  transition: 800ms; }

input, button::after {
  transition: 800ms;
  color: #28b485; }

button {
  background-color: #28b485;
  border: 2px solid #fffff99f;
  transition: 800ms; }

button, input:focus {
  outline: none; }

.section-3 {
  background-color: #DCDCDC;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap; }
  .section-3--grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    list-style: none; }
  .section-3--small, .section-3--large {
    height: 30rem;
    padding: 2rem;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    border: solid 1rem #DCDCDC;
    transition: 3000ms; }
  .section-3--small {
    flex-basis: 30%; }
    .section-3--small:hover {
      background: #28b485;
      transition: 4000ms;
      cursor: pointer; }
  .section-3--large {
    flex-basis: 70%; }
    .section-3--large:hover {
      background: #28b485;
      transition: 4000ms;
      cursor: pointer; }
    .section-3--large::after {
      transition: 4000ms; }
  .section-3--h3 {
    text-transform: capitalize;
    font: bold 3rem "Open sans", sans-serif;
    text-align: center;
    margin-bottom: 2rem; }
  .section-3--h4 {
    text-transform: capitalize;
    font: bold 1.5rem "Open sans", sans-serif;
    text-align: center;
    margin-bottom: 3rem; }
  .section-3--p {
    max-width: 90rem;
    line-height: 2;
    margin-bottom: 1rem;
    text-align: center; }
  .section-3--hr {
    width: 60rem;
    height: 0.3rem;
    border: 0;
    background-color: #28b485;
    margin: 5rem 5rem 5rem 5rem; }
